# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/uepa_connect/node_modules/
/uepa_connect/dist/
/uepa_connect/.env
/uepa_connect/.vite
/uepa_connect/.DS_Store

/uepa_connect_backend/node_modules/
/uepa_connect_backend/.env
/uepa_connect_backend/.DS_Store