:root {
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

#root {
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.text-main {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: #404E82;
}

.evento_cadastro {
  max-width: 500px;
}